.footer-bar
  text-align: center
  .up-bar
    height: 20px
    background-color: #cebd6f
    margin-bottom: 15px
  .img,
  .tel,
  .location
    font-weight: 700
    margin-bottom: 10px
    display: flex
    justify-content: center
    > a
      color: black
      text-decoration: none
      margin-right: 5px
    .icon
      height: 16px
      width: 16px
      color: red
      line-height: 1px
  .copy-right
    margin-bottom: 10px
