.top-bar
	margin: 20px 0
	.logo
		padding-top: 10px
		text-align: center

	.contact-info
		text-align: -webkit-right
		cursor: pointer
		> div
			padding: 0 10px
			text-align: center
			border: 1px solid red
			color: red
			font-weight: 700
			font-size: 28px
			width: 240px

			&:hover,
			&:focus,
			&:active,
			&:visited
				color: white
				background-color: red
				text-decoration: none
			
			@media only screen and (max-width: 960px)
				display: none
